.container {
    padding: var(--spacing-md) var(--spacing-lg);
    min-height: 90vh;
    border-bottom: 1px solid var(--border-color);
}

.header {
    margin-bottom: 2.5rem;
}

.title {
    color: var(--heading-font-color);
    margin-bottom: 0.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
}
